body {
	font-family:"Arial"; font-size:10px;
	background-color:#fff; color: #000;
}
p {
	font-size:11px;
	color:#000;
}
div.table {
	width:100%;	height:100%;
	display:table;
	border:0px;
}
div.cell {
	vertical-align:middle;
	text-align:center;
	display:table-cell;
	border:0px;
}
div.cellcenter {
	margin:auto;
	width:600px;
}
.header {
	overflow:auto;
}
.nav {
	position:relative; width:80px;
	text-align:center;
	float:left;
	cursor:pointer;
	border:0px;
}
.nav:hover {
	background-color:#CCEFFC;
}
.content {
	width:600px;
	height:600px;
	background-color:#CCEFFC;
	overflow:hidden;
	text-align:left;
}
.back_button {	
	width:600px; height:30px;
	background-color:#007FFF;
	color:#FFFFFF;
	font-weight:bold;
	cursor:pointer;
	vertical-align:middle;
	display:none;
	visibility:collapse;
}
.footer {
}
.pBoard {
	width:100%;	height:100%;
}
.board {
	position:relative; width:100%; height:100%;
	word-wrap:break-word;
}
.block {
	position:absolute;
	border:0px;
	overflow:auto;
	z-index:11;
}
table.blockTable {
	position:absolute; width:100%; height:100%;
	padding:0px; margin:0px;
	border-collapse:collapse;
}
tr.blockTR {
	border-collapse:collapse;
	padding:0px; margin:0px;
}
.logo {
	background-color:#CCEFFC;
}
.contentBlock {
	display:none;
	background-color:#CCEFFC;
}
/*Page*/
.page {
	width:600;
	background-color:#CCEFFC;
	overflow:auto;
}
.pageHeader {
	width:100%; height:200;
}
.pageContent {
	background-color:#fff;
	margin:20;
	padding:10 10 10 10;
}
/*Page style*/
/*fix the load problem in mobile*/
#aboutlogodiv {
	background-image:url(image/about_n.png);
	background-repeat:no-repeat;
}
#aboutlogodiv:hover {
	background-image:url(image/about_m.png);
	background-repeat:no-repeat;
}
#contactusdiv {
	background-image:url(image/contactus_n.png);
	background-repeat:no-repeat;
}
#contactusdiv:hover {
	background-image:url(image/contactus_m.png);
	background-repeat:no-repeat;
}
#productbannerdiv {
	background-image:url(image/mdbanner_n.png);
	background-repeat:no-repeat;
}
#productbannerdiv:hover {
	background-image:url(image/mdbanner_m.png);
	background-repeat:no-repeat;
}
/*nivo slider*/
.theme-default .nivoSlider {
	position:relative;
	background:#fff url(image/loading.gif) no-repeat 50% 50%;
	margin-bottom:50px;
	-webkit-box-shadow: 0px 1px 5px 0px #4a4a4a;
	-moz-box-shadow: 0px 1px 5px 0px #4a4a4a;
	box-shadow: 0px 1px 5px 0px #4a4a4a;
}
.theme-default .nivoSlider img {
	position:absolute;
	top:0px; left:0px;
	display:none;
}
.theme-default .nivoSlider a {
	border:0;
	display:block;
}
.theme-default .nivo-controlNav {
	position:absolute;
	left:50%; bottom: 2px;
	margin-left:-40px; /* Tweak this to center bullets */
}
.theme-default .nivo-controlNav a {
	display:block;
	width:22px;	height:22px;
	background:url(image/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.theme-default .nivo-controlNav a.active {
	background-position:0 -22px;
	z-index: 1000;
}
.theme-default .nivo-directionNav a {
	display:block;
	width:30px; height:30px;
	background:url(image/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
.theme-default a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
.theme-default a.nivo-prevNav {
	left:15px;
}
.theme-default .nivo-caption {
	font-family: Helvetica, Arial, sans-serif;
}
.theme-default .nivo-caption a {
	color:#fff;
	border-bottom:1px dotted #fff;
}
.theme-default .nivo-caption a:hover {
	color:#fff;
}
.nivoSlider {
	position:relative;
}
.nivoSlider img {
	position:absolute;
	top:0px; left:0px;
}
/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute; width:100%; height:100%;
	top:0px; left:0px;
	border:0;
	padding:0; margin:0;
	z-index:6;
	display:none;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute; height:100%;
	z-index:5;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
}
/* Caption styles */
.nivo-caption {
	position:absolute; width:100%;
	left:0px; bottom:0px;
	background:#000;
	color:#fff;
	opacity:0.8;
	z-index:8;
}
.nivo-caption p {
	padding:5px; margin:0;
}
.nivo-caption a {
	display:inline !important;
}
.nivo-html-caption {
	display:none;
}
/* Direction nav styles (e.g. Next & Prev) */
.nivo-directionNav a {
	position:absolute;
	top:45%;
	z-index:9;
	cursor:pointer;
}
.nivo-prevNav {
	left:0px;
}
.nivo-nextNav {
	right:0px;
}
/* Control nav styles (e.g. 1,2,3...) */
.nivo-controlNav a {
	position:relative;
	z-index:9;
	cursor:pointer;
}
.nivo-controlNav a.active {
	font-weight:bold;
}
.theme-default #slider {
	width:300px; height:200px; /* Make sure your images are the same size */
}
.theme-pascal.slider-wrapper,  .theme-orman.slider-wrapper {
}
.clear {
	clear:both;
}